
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.menu-link {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
}

.menu-link:hover {
    text-decoration: underline;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.tab {
    display: inline-block;
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
    text-align: center;
}

.tab:hover {
    background: #0056b3;
}

.tab.active {
    background: #0056b3;
    cursor: default;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}





.exercise {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.exercise-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exercise-item {
    background: #007BFF;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s;
}

.exercise-item:hover {
    background: #0056b3;
}




.details {
    display: none;
    margin-top: 10px;
}

.details {
    display: none;
    margin-top: 10px;
}

.details img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.details p {
    margin: 10px 0 0;
}





button {
    margin-top: 10px;
    padding: 8px 12px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
